ALCYANNE_LEADS_WEBHOOK_SECRET=gere_um_novo_segredo_com_64_caracteres_hexadecimais
ALCYANNE_ALLOWED_ORIGIN=https://psicoterapia.alcyannegouveiapsi.com.br
ALCYANNE_LEADS_WEBHOOK_URL=https://webhook.studio4x.com.br/webhook/alcyanne-psicoterapia-leads

